<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">
<head>
  <meta charset="utf-8">
</head>
<body>
  <div><a href="/logout">ログアウト</a></div>
  <p>エントリー</p>
  <div th:if="${room}">
    <ul>
      <li th:each="user : ${room.users}">[[${user}]]</li>
    </ul>
  </div>
  <p>[[${user}]]</p>
  <div><a href="/lec02/1">小屋に最初に入室した人</a></div>
  <div th:if="${user2}">
    ID:[[${user2.id}]]
    入室者:[[${user2.name}]]
  </div>
  <p>
    <a href="/gu">グー</a>
    <a href="/choki">チョキ</a>
    <a href="/pa">パー</a>
  </p>
  <div th:if="${syouhai}">
    あなたの手 [[${yourhand}]]</br>
    あいての手 グー</br>
    結果 [[${syouhai}]]</br>
  </div>
</body>
</html>
